* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}
.main {
  height: 100%;
  margin: 0;
}
