@use "../abstracts" as *;
.cities {
  background: $silverLight-40;
  &__notfound {
    min-height: 40rem;
    width: 100%;
    @include align(flex, center, center, null);
    p {
      font-size: 2.3rem;
      font-weight: 600;
    }
    @include responsive(small) {
      p {
        font-size: 2rem;
        font-weight: 600;
      }
    }
    @include responsive(xsmall) {
      p {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
  &__heading {
    @include align(flex, space-between, center, null);
    margin: 0rem 1rem;
    margin-top: -1rem !important;
    &__result {
      font-size: 1.7rem;
    }
    &__select {
      height: 2rem;

      margin-bottom: 2rem;
      select {
        height: 3rem;
        width: 13rem;
        font-size: 1.7rem;
      }
    }
  }
  &__banner {
    width: 100%;
    height: 40rem;
    img {
      position: relative;
      width: 100%;
      height: 40rem;

      cursor: pointer;
      margin: auto;
    }
  }
  &__body {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    &__image {
      width: 100%;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        image-rendering: pixelated;
        transition: all 0.5s linear;
        &:hover {
          transform: scale(1.2);
        }
      }
      .bestselling {
        @include position(absolute, 1rem, 1rem, null, null, null, null);
        @include status($orange, $white);
      }
      .new {
        @include position(absolute, 1rem, 1rem, null, null, null, null);
        @include status($green, $white);
      }
      .hot {
        @include position(absolute, 1rem, 1rem, null, null, null, null);
        @include status($main2, $white);
      }
    }
    &__contents {
      margin: 1.5rem 0 0.5rem 0;
      &__top {
        @include align(flex, center, null, null);
        &__name {
          font-size: 1.7rem;
          justify-content: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &__duration {
          @include align(flex, null, center, null);
          &__time {
            font-size: 1.4rem;
            margin-left: 0.6rem;
          }
        }
      }
      &__price {
        @include align(flex, center, center, null);
        &__dollor {
          font-size: 1.4rem;
          margin-top: 0.5rem;
        }
        margin-top: 0.5rem;
        font-size: 2rem;
        font-weight: 700;
      }
      &__facilities {
        @include align(flex, space-between, center, null);
        margin-top: 0.5rem;
        &__name {
          font-size: 1.5rem;
          text-transform: capitalize;
        }
      }
      &__button {
        @include align(flex, center, center, null);
        margin-top: 1rem;
      }
    }
  }
}

.product__pagination {
  @include align(flex, center, center, null);
  width: 100%;
  &__number {
    cursor: pointer;
    font-size: 1.7rem;
    padding: 0.3rem 1rem;
    background-color: $silverLight-50;
    margin: 0rem 0.6rem;
    &--active {
      color: $white;
      cursor: pointer;
      font-size: 1.7rem;
      padding: 0.3rem 1rem;
      background-color: $main1;
      margin: 0rem 0.6rem;
    }
  }
}
